.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  gap: 25px;
}

.musicTitleContainer {
  text-align: center;
  margin: 5rem 0 0 0;
}

.musicTitle {
  display: inline;
  font-size: 7rem;
  font-family: 'Nothing You Could Do', 'Inter', 'Roboto', san-serif;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem;
}

.musicArtContainer {
  position: relative;
  width: 300px;
  height: 300px;
}

.musicLine {
  width: 100px;
}

.songInfo {
  padding: 1.5rem;
  width: 300px;
}

.songTitle {
  margin: 10px 0 5px 0;
  font-size: 1.75rem;
  font-family: 'Nothing You Could Do', 'Inter', 'Roboto', san-serif;
}

.year {
  margin: 3px 0 10px 0;
  font-size: 0.75rem;
}

.credits {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 640px) {
  .grid {
    max-width: 640px;
  }
  .musicTitle {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 0.75rem;
  }
  .card {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }
}
