.nav {
  height: 10vh;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: 'Nothing You Could Do', 'Roboto', san-serif;
}

.nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
}

.nav ul li a {
  margin: 5px 15px;
  padding: 15px;
}

@media (max-width: 640px) {
  .nav ul {
    font-size: 1rem;
  }
}
